# dependencies
/node_modules

# Logs
*.log

# testing
/coverage

# production
/build

# misc
.DS_Store

# npm
npm-debug.log*

# dotenv environment variables file
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

# Optional eslint cache
.eslintcache

# Optional npm cache directory
.npm

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# TypeScript cache
*.tsbuildinfo

# Yarn Integrity file
.yarn-integrity

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
yarn-debug.log*
yarn-error.log*
.pnp.*
